{% extends 'templates/app.twig' %}

{% block title %}
<title>Confirmar reset de senha, refaça sua senha | RJAnivers.tk</title>
{% endblock %}

{% block content %}
<div class="container rjanivers">
    <div class="col-md-offset-3 col-md-6">
        <div class="well">
            {% include 'templates/flash.twig' %}
            <h4 class="text-center">Registro no RJAnivers</h4>
            <hr>
            <form action="{{ path_for('confirmar') }}" method="POST" class="form-horizontal">
                <div class="form-group {{ errors.nome ? 'has-error' : '' }}">
                    <div class="col-sm-12">
                        <label class="control-label">Nome *</label>
                        <div class="input-group">
                            <input type="text" maxlength="100" name="nome" value="{{ usuario.nome }}" class="form-control" readonly>
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        </div>
                        {% if errors.nome %}
                        <span class="help-block">{{ errors.nome | first }}</span>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group {{ errors.email ? 'has-error' : '' }}">
                    <div class="col-sm-12">
                        <label class="control-label" for="email">E-mail *</label>
                        <div class="input-group">
                            <input type="email" maxlength="100" id="email" name="email" value="{{ old.email }}" class="form-control" placeholder="chapolin@elchavo.net" required>
                            <span class="input-group-addon"><i class="fa fa-at"></i></span>
                        </div>
                        {% if errors.email %}
                        <span class="help-block">{{ errors.email | first }}</span>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group {{ errors.senha ? 'has-error' : '' }}">
                    <div class="col-sm-12">
                        <label class="control-label" for="senha">Nova senha *</label>
                        <div class="input-group">
                            <input type="password" id="senha" maxlength="30" name="senha" class="form-control" required>
                            <a id="entrarPass" class="input-group-addon input-pass" title="Mostrar/Esconder senha"><i class="fa fa-eye-slash"></i></a>
                        </div>
                        {% if errors.senha %}
                        <span class="help-block">{{ errors.senha | first }}</span>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-success">Confirmar</button>
                        <a href="{{ path_for('entrar') }}" class="btn btn-default">Cancelar</a>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <small>* Campos obrigatórios</small>
                    </div>
                </div>

                {{ csrf.field | raw }}

            </form>
        </div>
    </div>
</div>
{% endblock %}